spring.application.name=sgau-backend-api

spring.datasource.url=jdbc:postgresql://localhost:5433/centro_educativo
spring.datasource.username=admin1
spring.datasource.password=MiPassword123

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
